<% if (theme.verifyPassword.enable) { %>
<script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.crypto) %>"></script>
<script>
    (function() {
        let pwd = '<%- page.password %>';
        if (pwd && pwd.length > 0) {
            if (pwd !== CryptoJS.SHA256(prompt('<%- theme.verifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
                alert('<%- theme.verifyPassword.errorMessage %>');
                location.href = '<%- url_for("/")  %>';
            }
        }
    })();
</script>
<% } %>

<%- partial('_partial/post-cover') %>

<%
    var isTocEnable = theme.toc.enable && String(page.toc) !== 'false';
    var containerClass = isTocEnable ? 'post-container' : 'container';
%>

<main class="<%- containerClass %> content">

    <% if (isTocEnable) { %>
    <%- partial('_partial/post-detail-toc.ejs') %>
    <% } else { %>
    <%- partial('_partial/post-detail.ejs') %>
    <% } %>

</main>

<% if (theme.mathjax.enable && page.mathjax) { %>
<script src="<%- theme.mathjax.cdn %>"></script>
<script>
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$', '$'], ['\(', '\)']]}
    });
</script>
<% } %>


<% if (theme.openWritePlugin.enable) { %>
<!-- OpenWrite 插件：https://readmore.openwrite.cn/user/blog2weixin/use?id=33149-1720714429832-433 -->
<!-- 原汤化原食 ==> https://readmore.openwrite.cn/code/generate?blogId=33149-1720714429832-433 -->
<!-- OpenWrite 插件 Start （有且仅有下面的代码） -->
<script src="https://readmore.openwrite.cn/js/readmore-2.0.js" type="text/javascript"></script>
<script>
    const btw = new BTWPlugin();
    btw.init({
        id: 'artDetail', // 这个ID是通过浏览器“审查元素”查看文章详情而获取的，也可以通过查看 _partial/post-detail.ejs 页面获取
        blogId: "<%- theme.openWritePlugin.blogId %>",
        name: "<%- theme.openWritePlugin.name %>",
        qrcode: "<%- theme.openWritePlugin.qrcode %>",
        keyword: "<%- theme.openWritePlugin.keyword %>",
        btnText: "<%- theme.openWritePlugin.btnText %>",
        displayPercentage: 0.5,
        helloworld: 'https://readmore.openwrite.cn/code/generate?blogId=33149-1720714429832-433'
    });
</script>
<!-- OpenWrite 插件 End -->
<% } %>

